@font-face {
  font-family: 'deutschlander';
  src: url('./deutschlander.woff2') format('woff2'),
       url('./deutschlander.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pier';
  src: url('./pier.woff2') format('woff2'),
       url('./pier.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
